
# Node
node_modules/

# Typescript
dist/
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Instanbul/Nyc
.nyc_output/
coverage/

# Mac
.DS_Store
